
$font-family-base: 'Open Sans',Arial, sans-serif;

$font-size-base: 1.2rem;
$font-size-base-large: 1.6rem;
$font-size-base-small: 1.2rem;
$main-color: #2b2c5c;
$dark-color: rgbg(0,0,0,0.5);
$white: #ffffff;
$blue: #408CE0;
$gray: rgba(24,26,53,0.5);

$red: #FF0439;
$input-color: #d2ced9;
$input-dark-color: #49495f;
